<div class="container-fluid">
  <div class="text-center">
    <h1>Admin Console</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h2>Domain Lists</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-bordered">
        <thead>
          <th scope="col">Domain</th>
          <th scope="col">Values</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr>
            <td>BLM Offices</td>
            <td>
              <select class="form-control">
                <option>Some Office 1</option>
                <option>Some Office 2</option>
              </select>
            </td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
          <tr>
            <td>Employee Positions</td>
            <td>
              <select class="form-control">
                <option>Outdoor Recreation Planner</option>
                <option>Recreation Technician</option>
              </select>
            </td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
          <tr>
            <td>NEPA Document Types</td>
            <td>
              <select class="form-control">
                <option>Environmental Impact Statements (EIS)</option>
                <option>Environmental Assessments  (EA)</option>
                <option>Categorical Exclusion (CX)</option>
                <option>Determination of NEPA Adequacy (DNA)</option>
              </select>
            </td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
