<footer class="footer d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col-3">
       <span class="text-muted">
         <div class="text-center">
           <a href="https://blm.gov">BLM.gov</a>
         </div>
       </span>
      </div>
      <div class="col-3">
        <span class="text-muted">
          <div class="text-center">
            <a href="https://blm.gov/programs/cultural-resources/paleontology">Paleo Webpage</a>
          </div>
        </span>
      </div>
      <div class="col-3">
        <span class="text-muted">
          <div class="text-center">
            <a href="https://www.blm.gov/programs/recreation">Recreation Webpage</a>
          </div>
        </span>
      </div>
      <div class="col-3">
        <span class="text-muted">
          <div class="text-center">
            <a href="https://www.blm.gov/programs/recreation">General Science</a>
          </div>
        </span>
      </div>
    </div>
  </div>
</footer>
