<div class="container-fluid">
  <div class="text-center">
    <h1>Admin Console</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h2>Terms and Conditions</h2>
      </div>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-10 offset-1">
        <div class="form-group">
          <label for="TandC">Terms and Conditions</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-3">
        <button class="btn btn-success btn-block">Save</button>
      </div>
      <div class="col-3">
        <button class="btn btn-warning btn-block">Cancel</button>
      </div>
    </div>
  </form>
</div>