<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="jumbotronSand">
        <h1>Some Heading</h1>
        <p>alskdfjaslhdfksjadhf</p>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="jumbotronBurnt">
          <h1>Some Heading</h1>
          <p>alskdjflasjkdkf;asfd</p>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="jumbotronGreen">
            <h1>Some Heading</h1>
            <p>asdjfkasdjflaskjdf</p>
          </div>
        </div>
  </div>
</div>
