<div class="container-fluid">
  <div class="text-center">
    <h1>Appication Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-bordered">
        <thead class="bg-success">
          <th scope="col">Applicant Name</th>
          <th scope="col">Application Name</th>
          <th scope="col">Lead Office</th>
          <th scope="col">Submit Date</th>
          <th scope="col">Beginning Date</th>
          <th scope="col">Ending Date</th>
          <th scope="col">Application Status</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr>
            <td>Jane Doe</td>
            <td>Battle Mountain App.</td>
            <td>Tres Rios</td>
            <td>05/04/2018</td>
            <td>01/01/2019</td>
            <td>12/31/2019</td>
            <td>Accepted</td>
            <td>
              <button class="btn btn-danger btn-small"><small>Cancel</small></button>
              <!--<button class="btn btn-warning btn-small"><small>Delete</small></button>-->
              <button class="btn btn-primary btn-small"><small>View</small></button>
              <button class="btn btn-info btn-small"><small>Log</small></button>
            </td>
          </tr>
          <tr>
            <td>Jane Doe</td>
            <td>Round Table Meeting</td>
            <td>Tres Rios</td>
            <td>05/20/2018</td>
            <td>02/10/2019</td>
            <td>02/24/2019</td>
            <td>In Review</td>
            <td>
              <button class="btn btn-danger btn-small"><small>Cancel</small></button>
              <!--<button class="btn btn-warning btn-small"><small>Delete</small></button>-->
              <button class="btn btn-primary btn-small"><small>View</small></button>
              <button class="btn btn-info btn-small"><small>Log</small></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
