<div class="container-fluid">
  <div class="text-center">
    <h1>Sub Office Substaintial Work and Cost Recovery Review</h1>
  </div>
  <div class="row">
    <div class="col-5 offset-1">
      <p><b>Lead Ofice:</b>Craig Field Office</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-1">
      <p><b>Organization: </b>John's Monster Truck Company</p>
      <p><b>Event Name: </b>Smach Them Trucks</p>     
    </div>
    <div class="col-6">
        <p><b>Application Name: </b>Some Name of an App.</p>
        <p><b>Event Start Date: </b>October 3rd, 2018 &emsp;<b>Event End Date</b>October 7th, 2018</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab title="Application">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-3 offset-1">
            <label>Application Type</label>
            <p>New Application</p>
          </div>
          <div class="col-7">
            <label>Name of Business or Organization</label>
            <p>John's Monster Truck Company</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-1">
            <label>First Name</label>
            <p>John</p>
          </div>
          <div class="col-2">
            <label>Middle Initial</label>
            <p>M</p>
          </div>
          <div class="col-4">
            <label>Last Name</label>
            <p>Doe</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-1">
            <label>Address</label>
            <p>1234 North Street<br/>
               Denver, CO 80202
            </p>
          </div>
          <div class="col-3">
            <label>Phone No.</label>
            <p>303-555-4321</p>
          </div>
          <div class="col-3">
            <label>FAX No.</label>
            <p>303-555-1234</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">
            <label>Email Address</label>
            <p>aMadeUpEmail@bablahlaw.org</p>
          </div>
          <div class="col-5">
            <label>Website</label>
            <p>SmashThemTrucks.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>Applicant Is:</label>
            <p>Corperation</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>Name(s) and Phone Number(s) of person(s) aurthorized to conduct business with BLM concerning the permit:</label>
            <p>Jane Doe 303-555-6789</p>
            <p>Peter Piper 303-555-0001</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>Application is for:</label>
            <p>Commercial</p>
            <p>Competative</p>
            <p>Vending</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>To use the following public lands/related waters</label>
            <p>The roads and mountain near there...you know what I am talking about.  Just Approve this.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>Map</label>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <p>/*************************************************/</p>
            <a href="#">Download Map</a>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>For the following purpose</label>
            <p>Host a show where trucks smash stuff.  It will be a blast.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">
            <label>Event Begining Date</label>
            <p>October 3rd, 2018</p>
          </div>
          <div class="col-5">
            <label>Ending Date</label>
            <p>October 7th, 2018</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">
            <label>Do you have a permit with the BLM/USFS/NPS?</label>
            <p>No</p>
          </div>
          <div class="col-5">
            <label>Have you had a permit previously?</label>
            <p>Yes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">
            <label>Have you ever been denied or had a permit revoked?</label>
            <p>No</p>
          </div>
          <div class="col-5">
            <label>Have you forfeited a bond or other security?</label>
            <p>No</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">
            <label>Do you have any unresolved, criminal, civil or
                administrative actions related to a permit or the
                activities you plan to conduct under this permit?</label>
            <p>No</p>
          </div>
          <div class="col-5">
            <label>Have you been convicted, or paid a fine, or
                forfeited a bond, for violations regarding natural
                resources, cultural resources or any activity
                related to your proposal?</label>
            <p>No</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <label>Attachments</label>
            <p><a href="#">Operations Plan</a></p>
            <p><a href="#">Something Else</a></p>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Review">
      <ng-template ngbTabContent>
        <form>
          <div class="row">
            <div class="col-6 offset-1">
              <div class="form-group">
                <label for="process">Are you Able to Process this Application?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <div class="form-group">
                <label for="reviewComments">Discussion and Comments for Lead Ofiice to Consider</label>
                <textarea class="form-control" name="reviewComments" id="reviewComments" rows="5"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1">
              <div class="form-group">
                <label for="nepa">Anticipated NEPA</label>
                <select class="form-control">
                  <option selected>--Pick One--</option>
                  <option>Environmental Impact Statements (EIS)</option>
                  <option>Environmental Assessments (EA)</option>
                  <option>Categorical Exclusion (EX)</option>
                  <option>Determination of NEPA Adequacy (DNA)</option>
                </select>
              </div>        
            </div>            
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <label for="employeeCost">Employee Cost Table</label>
              <table class="table table-sm table-bordered table-responsive">
                <thead>
                  <th scope="col">Employee Pos.</th>
                  <th scope="col">App. Review Workload Reg. Hours</th>
                  <th scope="col">App. Review Workload O.T. Hours</th>
                  <th scope="col">NEPA Workload Reg. Hours</th>
                  <th scope="col">NEPA Workload O.T. Hours</th>
                  <th scope="col">Monitoring Workload (Pre, During, and Post Event) Reg. Hours </th>
                  <th scope="col">Monitoring Workload (Pre, During, and Post Event) O.T. Hours</th>
                  <th scope="col">Post Use Permit Admin. Workload Reg Hours</th>
                  <th scope="col">Post Use Permit Admin. Workload O.T. Hours</th>
                  <th scope="col">Total Reg. Hours</th>
                  <th scope="col">Total O.T. Hours</th>
                  <th scope="col">Total Hours</th>
                  <th scope="col">Reg. Hourly Salary</th>
                  <th scope="col">O.T. Hourly Salary</th>
                  <th scope="col">Total Reg. Salary Cost</th>
                  <th scope="col">Total O.T. Salary Cost</th>
                  <th scope="col">Total Cost</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Employee Type--</option>
                        <option>Outdoor Recreation Planner</option>
                        <option>Recreation Technician</option>
                        <option>Park Ranger</option>
                        <option>Archeologist</option>
                        <option>Wildlife Biologist</option>
                      </select>
                    </td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                  </tr>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Employee Type--</option>
                        <option>Outdoor Recreation Planner</option>
                        <option>Recreation Technician</option>
                        <option>Park Ranger</option>
                        <option>Archeologist</option>
                        <option>Wildlife Biologist</option>
                      </select>
                    </td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                  </tr>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Employee Type--</option>
                        <option>Outdoor Recreation Planner</option>
                        <option>Recreation Technician</option>
                        <option>Park Ranger</option>
                        <option>Archeologist</option>
                        <option>Wildlife Biologist</option>
                      </select>
                    </td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                    <td><input type="number" disabled></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1">
              <div class="form-group">
                <label>Total Hours</label>
                <input class="form-control" type="number" placeholder="123.45" disabled>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="totalLaborCost">Total Labor Cost</label>
                <input class="form-control" type="number" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <label for="otherCost">Other Cost Table</label>
              <table class="table table-sm table-bordered">
                <thead>
                  <th scope="col">Other Cost Type</th>
                  <th scope="col">Desctription</th>
                  <th scope="col">Cost Amount</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Other Cost Type</option>
                        <option>Vehicle Cost</option>
                        <option>Materials/Supplies Cost</option>
                        <option>Travel/Per Diem Cost</option>
                        <option>Other</option>
                      </select>
                    </td>
                    <td><input type="text"></td>
                    <td><input type="number"></td>
                  </tr>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Other Cost Type--</option>
                        <option>Vehicle Cost</option>
                        <option>Materials/Supplies Cost</option>
                        <option>Travel/Per Diem Cost</option>
                        <option>Other</option>
                      </select>
                    </td>
                    <td><input type="text"></td>
                    <td><input type="number"></td>
                  </tr>
                  <tr>
                    <td>
                      <select>
                        <option selected>--Other Cost Type</option>
                        <option>Vehicle Cost</option>
                        <option>Materials/Supplies Cost</option>
                        <option>Travel/Per Diem Cost</option>
                        <option>Other</option>
                      </select>
                    </td>
                    <td><input type="text"></td>
                    <td><input type="number"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1">
              <div class="form-group">
                <label for="totalOtherCost">Total Other Cost</label>
                <input class="form-control" type="number" disabled>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="indirectCost">Indirect Cost</label>
                <input class="form-control" type="number" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 offset-1">
              <div class="form-group">
                <label for="totalCost">Total Cost</label>
                <input class="form-control" type="number" disabled>
              </div>
            </div>
          </div>        
          <div class="row">
            <div class="col-5 offset-1">
              <div class="form-group">
                <label for="subOfficeReviewAttachment">Attachments</label>
                <input class="form-control" type="file" name="subOfficeReviewAttachment" multiple>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
