<div id="login">
  <div class="container-fluid">
    <div class="text-center">
      <h1>SPATS Log In</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="jumbotron">
          <p class="lead">Not a member? Please <a routerLink="/createAccount">create an account</a> instead.</p>
          <form (submit)="login()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control"
              name="email" required
              placeholder="Enter email"
              [(ngModel)]="credentials.email" #email="ngModel">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control"
              name="password" required
              placeholder="Password"
              [(ngModel)]="credentials.password" #password="ngModel">
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-7">
                <button [disabled]="email.invalid||password.invalid" type="submit" class="btn btn-block btn-success">Sign In!</button>
              </div>
              <div class="col-xs-12 col-sm-5">
                <button [disabled]="email.invalid" type="button" class="btn btn-block btn-warning" (click)="sendPasswordEmail()">Forgot Password?</button>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</div>