/* You can add global styles to this file, and also import other style files */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
/*
p {
  font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
}
*/
.flintBackground {
  background-color: #726E64;
}
.flintText {
  color: #726E64;
}
.bedrockBackground {
  background-color: #4B4841;
}
.bedrockText {
  color: #4B4841;
}
.greenfieldLightBackground {
  background-color: #9FCF6E;
}
.greenfieldLightText {
  color: #9FCF6E;
}
.greenfieldDarkBackground {
  background-color: #596F31;
}
.greenfieldDarkText {
  color: #596F31;
}
.sandBackground {
  background-color: #F4DEA6;
}
.sandText {
  color: #F4DEA6;
}
.sunsetBackground {
  background-color: #FF931B;
}
.sunsetText {
  color: #FF931B;
}
.richOrangeBackground {
  background-color: #C2500F;
}
.richOrangeText {
  color: #C2500F;
}
.richBlueBackground {
  background-color: #005A70;
}
.richBlueText {
  color: #005A70;
}
.richBrownBackground {
  background-color: #7F6024;
}
.richBrownText {
  color: #7F6024;
}
.richDarkBrownBackground {
  background-color: #603D20;
}
.richDarkBrownText {
  color: #603D20;
}
.grey1Background {
  background-color: #DCDDDE;
}
.grey1Text {
  color: #DCDDDE;
}
.grey2Background {
  background-color: #BCBEC0;
}
.grey2Text {
  color: #BCBEC0;
}
.grey3Background {
  background-color: #9D9FA2;
}
.grey3Text {
  color: #9D9FA2;
}
.purpleBackground {
  background-color: #800080;
}
.purpleText {
  color: #800080;
}
.whiteBackground {
  background-color: whitesmoke;
}
.whiteText {
  color: whitesmoke;
}
.blackBackground {
  background-color: black;
}
.blackText {
  color: black;
}
