<div class="container-fluid" id="homeBody">
  <div class="row" id="top">
    <div class="col-10 offset-1">
      <div class="jumbotron sandBackground">
        <div class="jumbotron richBlueBackground border border-secondary">
          <div class="text-center">
            <h1 class="whiteText">Welcome to the RAPTOR Web Application</h1>
            <p class="whiteText" style="font-size: 15px;">This site is intended to be used by the public for the purpose of submitting applications for various permits to the BLM.  Currently the website supports the applications for Paleontological Resources Use Permit and the Special Recreation Permit.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="jumbotron richOrangeBackground border border-secondary">
              <img src="../../assets/images/rec.jpeg" class="img-fluid rounded-circle">
              <h2 class="whiteText">Special Recreation Permits</h2>
              <p class="whiteText">Special Recreation Permits (SRPs) are authorizations for commercial use, competitive events, group activities, recreation events, and providing vending services or supplies associated with recreation events.  SRPs are issued to ensure public health and safety, protect natural and recreational resources, reduce user conflicts, achieve recreation and other resource management objectives, and enhance the public’s opportunity for quality recreation experiences.</p>
              <p class="whiteText">For instructions on how to submit a Special Recreation Application for Permit see the <a href="recHome">Recreation Page.</a></p>
            </div>
          </div>
          <div class="col-4">
            <div class="jumbotron purpleBackground border border-secondary">
              <img src="../../assets/images/paleo.jpeg" class="img-fluid rounded">
              <h2 class="whiteText">Paleontological Resources Use Permits</h2>
              <p class="whiteText">A Paleontological Resource Use Permit must be aquired before collecting or disturbing fossil resources on BLM-administered lands.  To be eligible for a permit, the applicant must have received formal education and professional instruction in a field of paleontology equivalent to a graduate degree and meet other requirements as specified in the permit application.  </p>
              <p class="whiteText">For instructions on how to submit a Paleontological Resources Use Permit Application see the <a href="paleoHome">Paleo Page.</a></p>
            </div>
          </div>
          <div class="col-4">
            <div class="jumbotron greenfieldDarkBackground border border-secondary">
              <img src="../../assets/images/flight-sky-earth-space.jpg" class="img-fluid rounded">
              <h2 class="whiteText">General Science</h2>
              <p class="whiteText">Special Recreation Permits (SRPs) are authorizations for commercial use, competitive events, group activities, recreation events, and providing vending services or supplies associated with recreation events.  SRPs are issued to ensure public health and safety, protect natural and recreational resources, reduce user conflicts, achieve recreation and other resource management objectives, and enhance the public’s opportunity for quality recreation experiences.</p>
              <p class="whiteText">For instructions on how to submit a Special Recreation Application for Permit see the <a href="recHome">Recreation Page.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








  <!--
  <div class="row" id="top">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <div class="jumbotron blmYellow">
        <div class="row">
          <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div class="text-center">
              <h2>Welcome to the Scientific Permitting and Tracking System</h2>
              <img src="..\..\assets\images\home_collage.jpg"
                   class="img-responsive mx-auto d-block"
                   style="max-width: 100%; height: auto;"
                   alt="...">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="middle">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <div class="jumbotron blmOrange">
        <div class="row">
          <div class="col-xs-12 col-sm-10 offset-sm-1">
            <p id="description">Welcome to the RAPTOR webpage.  This site is intended to be used by the public for the purpose of submitting applications for various permits to the BLM.  Currently the website supports the applications for Paleontological Resources Use Permit and the Special Recreation Permit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="bottom">
    <div class="col-xs-12 col-sm-10 col-md-5 offset-sm-1">
      <div class="text-center jumbotron blmGreen">
        <div style="clear: both;">
          <h2>Paleontological Resources</h2>
          <p>A Paleontological Resource Use Permit must be aquired before collecting or disturbing fossil resources on BLM-administered lands.  To be eligible for a permit, the applicant must have received formal education and professional instruction in a field of paleontology equivalent to a graduate degree and meet other requirements as specified in the permit application.  </p>
          <p>For instructions on how to submit a Paleontological Resources Use Permit Application see the <a href="paleoHome">Paleo Page.</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-5 offset-md-0">
      <div class="text-center jumbotron blmGreen">
        <div style="clear: both;">
          <h2>Special Recreation Permits</h2>
          <p>Special Recreation Permits (SRPs) are authorizations for commercial use, competitive events, group activities, recreation events, and providing vending services or supplies associated with recreation events.  SRPs are issued to ensure public health and safety, protect natural and recreational resources, reduce user conflicts, achieve recreation and other resource management objectives, and enhance the public’s opportunity for quality recreation experiences.</p>
          <p>For instructions on how to submit a Special Recreation Application for Permit see the <a href="recHome">Recreation Page.</a></p>
        </div>
      </div>
    </div>
  </div>
 -->

</div>
